$mainColor: rgb(24, 207, 122);
$secondary: rgb(10, 147, 156);
$keyColor: orange;


$textRegular: 400;
$textBold: 600;
$textLight: 300;

$textSm: 1em;
$textMd: 1.5em;
$textXl: 2em;
$textXll: 3em;

$w-30:30%;
$w-60:60%;

$mainFont:'Roboto', sans-serif;

